:root {
  --font-family: 'Mulish', sans-serif;

  // COLORS
  // --light: #00c3ff;
  --light: #f39c12;
  // --primary: #2071e7;
  --primary: #e67e22;
  // --dark: #2980b9;
  --dark: #d35400;
  --text: #333;
  --background: #fafafa;
  --hint: #999;
  --border: #ddd;
}
